body {
    margin: auto;
  }
   input#name:invalid:focus{
    border:2px solid blue;
    }
  @font-face {
      font-style: regular;
      font-family: "EuclidCircularA-Regular";
      src: url("/html/online-compiler/fonts/EuclidCircularA-Regular.otf");
  }
    
  h1 {
      margin: 17px;
      font-size: 30px;
      font-weight: 650;
      line-height: 40px;
      font-family: EuclidCircularA-Regular;
  }
    
  p {
    color: rgba(37, 38, 94, 0.87) ;
      font-size: 20px;
      font-weight: 450;
      line-height: 30px;
      margin: auto 18px;
      font-style: normal;
      font-family: EuclidCircularA-Regular;
  }
